*{
  margin: 0;
  padding: 0;
}
img{
  width: 50%;
  /* height: 100vh; */
}
.container{
  overflow: hidden;  
  height: 100vh;
  background-color: black;
  display: flex;
}
.wrapper{
  width: 600px;
  height: 400px;
  background-color: aliceblue;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1{
  font-size: 40px;
  font-weight: 600px;
  color: rgb(23, 59, 63);
  margin: 40px 0px;
}

button{
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background-color: #445A6F;
  border: 1px solid black;
  color: white;
  font-size: 20px;
  margin: 30px;
}